* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

/* Header */

nav {
    padding: 20px 50px 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1b1c;
}

nav a {
    text-decoration: none;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 16px;
    color: whitesmoke;
}

.nav-left a {
    font-size: 20px;
    color: whitesmoke;
}

.nav-left img {
    height: 50px;
    width: auto;
    filter: invert(1);
    position: relative;
    top: 1px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 25px;
    padding-right: 10px;
}

.submit {
    border: solid white 2px;
    border-radius: 10px;
    color: white;
    padding: 10px 20px 10px 20px;
    transition: 0.5s;
}

.signin {
    border: solid #4C5FD5 1px;
    background-color: #4C5FD5;
    border-radius: 10px;
    color: white;
    padding: 10px 5px 10px 5px;
    transition: 0.5s;
}

.signin:hover {
    border: solid black 1px;
    background-color: white;
    color: black;
}

.submit:hover {
    background-color: white;
    color: black;
}

/* Footer */
footer {
    background: #1a1b1c;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.fcards {
    display: flex;
    gap: 80px;

}

.fcard {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.fcard a {
    text-decoration: none;
    color: whitesmoke;

}

.fcard ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.icone img {
    filter: invert(1);
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

